body {
    color: #626262;
    height: 100%;
    font-size: 0.875rem;
    background: #f1f2f3;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.0312rem;
    font-family: 'Quicksand', sans-serif;
}
label, button { display:block; width:400px; margin-top:20px; }
input, select { width:400px; padding:5px; border-radius:4px; margin-top:4px;}
input::placeholder { color:#d3d3d3;} 
textarea { width:400px; margin-top:15px; min-height:120px; }
img { border:2px solid #EC6623; }
a { color: #dc4e23; font-weight:bold; transition: color 0.5s; }
a:hover { color: #4EBB88;  }
.explore_astica { margin-left:15px; font-size:18px; margin-right:20px; color:#17a2b8; text-decoration:none; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);  }
.explore_astica_Active  {color: #4EBB88; text-decoration:underline; text-underline-offset: 5px; text-shadow: none; }
h1 { font-size: 1.4rem; margin-top:-20px; margin-bottom:50px; }
pre { 
    border:2px solid #A5E3D5; 
    width: auto;
    display:inline-block;
    border-radius:6px; 
    background-color:#1e1e1e;
    color:#eee;
    padding:20px; 
    font-size:12px;
 }
#astica_ML_version { width:120px; }
#astica_icon { border:none; position:fixed; bottom: 20px; right: 20px; opacity:0.4; max-width:30px; display:block; margin:0px 0px; }
#astica_icon_head { border:none; width:50px; margin-right:15px; position:relative; top:20px; }

button:disabled, button[disabled] { opacity:0.4; }
button {
        display:block!important;
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    letter-spacing: 0.0312rem;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    padding: 0.4375rem 1.25rem;
    text-shadow: none;
    font-size: 14px;
    font-weight: normal;
    white-space: normal;
    word-wrap: break-word;
    touch-action: manipulation;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    text-decoration: none;
    transform: translateY(-3px);
    color: #fff !important;
    background-color: #1abc9c;
    box-shadow: none;
    border-color: #1abc9c;
    cursor: pointer;
}
  
  	
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  max-width:400px;
  width: 100%; margin-bottom:10px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#86eae1, #05df72);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display:block;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff3b00 ;
  background: #009688 ;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff3b00 ;
  background: #009688 ;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff3b00 ;
  background: #009688 ;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
  background: #009688;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
  background: #009688;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
  background: #009688;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
        
        